.text{
    font-size: 20px;
    font-weight: 600;
    font-family: "Ubuntu";
    font-style: normal;
}
.text {
    float: center;
    text-align: center;
    margin-top: 120px;
    padding-top: 10%;
    
}
.changepasswordbutton {
    text-align: center;
    padding-bottom: 10%;
}
.enterpassword {
    text-align: center;
    margin-top: 10px;

}
.confirmpasswordbutton {
    text-align: center;
}
.changepasswordstuff {
    background-color: lightgrey;
    width: 100%;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}