.change-password-card {
  padding-bottom: 50px;
  margin-top: 22%;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
mat-card-header {
  .mat-card-title {
    margin-left: -16px;
  }
}
mat-form-field {
  width: 100%;
  margin-top: 20px;
}

mat-card-content {
  margin-bottom: 0px;
  .row {
    height: 70px;
  }
}

.mat-card > .mat-card-actions {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .mat-card {
    padding: 30px 5%;
    margin-top: 30px;
    border-radius: 0;
    mat-form-field {
      width: 100%;
      & + mat-form-field {
        margin-top: 50px;
      }
    }
    .mat-card-actions {
      margin-left: 0;
      margin-right: 0;
      .mat-button, .mat-raised-button, .mat-stroked-button {
        display: block;
        margin: 0 0 10px;
        width: 100%;
      }
    }
  }
}
