<mat-card class="change-password-card bg-light">
    <mat-card-header>
        <mat-card-title>Change Your Password Here</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-4">
                    <div class="changepasswordstuff">
                        <div class="enterpassword">
                            <mat-form-field>
                                <mat-label>Enter your new password</mat-label>
                                <input matInput type="password" [(ngModel)]="data.newPassword" />
                            </mat-form-field>
                        </div>
                        <div class="confirmpasswordbutton">
                            <mat-form-field>
                                <mat-label>Confirm password</mat-label>
                                <input matInput type="password" [(ngModel)]="confirmPassword" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="changepasswordbutton"><button mat-raised-button color="primary" (click)="updatePassword()">Change Password</button></div>
        <div *ngIf="!!error" id="error">
            <p>{{error}}</p>
        </div>
        <div class="col-sm-4"></div>
    </mat-card-actions>
</mat-card>