.change-password-card {
    padding-bottom: 50px;
    margin-top: 22%;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
mat-form-field {
    width: 100%;
  }

  mat-card-content {
    margin-bottom: 0px;
    .row {
      height: 70px;
    }
  }

  .mat-card>.mat-card-actions {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  
