.logincardcontainer {
  height: 458px;
  width: 700px;
  margin: auto;
  margin-top: 50px;

  .mat-card {
    padding: 16px 30px;
    & > .mat-card-actions {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    mat-card-header {
      .mat-card-title {
        margin-left: -16px;
      }
    }
    mat-card-content {
      margin-bottom: 0px;
      mat-form-field {
        width: 100%;
      }
    }
    .mat-card-actions {
      margin-left: 0;
    }
  }
}

.registerButton {
  font-size: 20px;
  padding: 12px 28px;
}

@media only screen and (max-width: 768px) {
  .logincardcontainer {
    width: calc(100vw - 32px);
    margin: 30px 16px;
    .mat-card {
      padding: 30px 5%;
      mat-form-field {
        width: 100%;
      }
      .mat-card-actions {
        margin-left: 0;
        margin-right: 0;
        .mat-button, .mat-raised-button, .mat-stroked-button {
          display: block;
          margin: 0 0 10px;
          width: 100%;
        }
      }
    }
  }
}
