
mat-form-field {
    width: 100%;
  }

  .mat-card>.mat-card-actions {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
mat-card-content {
    margin-bottom: 0px;
}
  
  .logincardcontainer {
    mat-card {
      mat-card-header {
        .mat-card-header-text {
          margin: 0 0px;
        }
      }
    }
  }
