mat-card-content {
    height: 230px;
}
mat-form-field {
    width: 100%;
  }

  .mat-card>.mat-card-actions {
    margin-top: 30px;
  }
  
  .logincardcontainer {
    mat-card {
      mat-card-header {
        .mat-card-header-text {
          margin: 0 0px;
        }
      }
    }
  }
