.navbar 
{
    float: right;
    vertical-align:middle;
}
.navbar span a, .navbar a {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0px;
    font-style: normal;
    color: #88929e;
    text-decoration: none;    
}

.navbar span a:hover {
    color : #102538;  
} 

.logo {
    float: left;
    width: 20%;
    margin-left: 15px;
    vertical-align: middle;
}
.clearfix {
    overflow: auto;
}
.nav-container {
    margin-top: 20px;
    height: 84px;
    padding-top: 14px;
}

