.navbar {
  margin-top: 4px;
  vertical-align: middle;
  .navbar-collapse {
    padding-right: 3%;
    .navbar-nav {
      width: 100%;
      justify-content: flex-end;
      a {
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 0px;
        font-style: normal;
        color: #88929e;
        text-decoration: none;
      }
      a:hover {
        color: #102538;
      }
      span {
        a {
          font-weight: 700;
          font-size: 15px;
          letter-spacing: 0px;
          font-style: normal;
          color: #88929e;
          text-decoration: none;
        }
        a:hover {
          color: #102538;
        }
      }
    }
  }
}

.logo {
  float: left;
  margin: 5px 0 7px 3%;
  vertical-align: middle;
}
.clearfix {
  overflow: auto;
  position: relative;
}
.nav-container {
  padding-top: 14px;
}

.clearfix {
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .clearfix {
    overflow: visible;
    height: 62px;
  }
  .navbar {
    width: 100%;
    position: absolute;
    z-index: 2;
    padding: 0.5rem 0;
    justify-content: flex-end;
    button {
      margin-right: 4%;
    }
    .navbar-collapse {
      padding: 0;
      background-color: #fff;
      border-bottom: 2px solid rgb(133, 112, 81);
    }
    .navbar-nav {
      .nav-item {
        padding: 7px 0;
        text-align: center;
      }
    }
  }
}
