<div class="nav-container clearfix">
    <div class="logo">
        <img src = "../../assets/wellesley-logo-light.jpg" />
    </div>
    <div class="navbar">
        <a mat-button [routerLink]="['/home']">HOME</a>
        <a *ngIf="!loggedIn" a mat-button routerLink='/login'>LOGIN</a>
        <span *ngIf="loggedIn">
            <a mat-button routerLink='/reservations'>RESERVATIONS</a>
            <a mat-button routerLink='/changepassword'>CHANGE PASSWORD</a>
            <a mat-button class="nav-link" (click)="logout()">LOGOUT</a>
        </span>
    </div>
</div>