<div class="nav-container clearfix">
    <div class="logo">
        <img src = "../../assets/wellesley-logo-light.jpg" [routerLink]="['/home']"/>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" mat-button [routerLink]="['/home']">HOME</a>
        
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" (click)="navbarOpen=false;" *ngIf="!memberService.isLoggedIn()" mat-button routerLink='/login'>LOGIN/REGISTER</a>
            </li>        
              <li class="nav-item">
                <a (click)="navbarOpen=false;" *ngIf="memberService.isLoggedIn() && !memberService.checkIsAdmin()" class="nav-link" mat-button routerLink='/reservations'>RESERVATIONS</a>
            </li>
              <li class="nav-item">
                <a (click)="navbarOpen=false;" *ngIf="memberService.isLoggedIn() && !memberService.checkIsAdmin()" class="nav-link" mat-button routerLink='/changepassword'>CHANGE PASSWORD</a>
            </li>
              <li class="nav-item">
                <a (click)="navbarOpen=false;" class="nav-link" *ngIf="memberService.isLoggedIn()" mat-button class="nav-link" (click)="logout()">LOGOUT</a>
            </li>
            </ul>
        </div>
        
    </nav>
</div>

    
 

