footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    font-size: small;
  }

  .contact {
      float : right;
  }

  .contact a {
    text-decoration: none;
  }