footer {
    position : fixed;
    bottom : 0;
    height : 100px;
    width: 100%;
    font-size: small;
    background-color: #102538;
    z-index: -1;
  }

  .maincontainer {
    padding-bottom: 110px;
    z-index: 1;
    position: relative;
}

  .contact {
      float : right;
  }

  .contact a {
    text-decoration: none;
  }