footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  font-size: small;
  background-color: #102538;
  z-index: -1;

  .contact {
    padding-top: 10px;
    padding-right: 5%;
    width: 100%;
    text-align: right;
    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }
}

.maincontainer {
  padding-bottom: 110px;
  z-index: 1;
  position: relative;
}
