.row {
    margin-left: 0px;
    margin-right: 0px;
}

mat-tab-group {
    margin-top: 30px auto;
    width: 50%;
}
mat-form-field {
    width: 50%;
  }


.searchuserbutton {
    margin-bottom: 15px;
    margin-left: 4px;
}

.searchresults {
    margin-top: 10px;
    margin-bottom: 5px;
}

