<mat-tab-group animationDuration="500ms">
  <mat-tab label="Search User" >
    <div class="searchForUser bg-light">
        <mat-form-field>
          <mat-label>Search for user</mat-label>
          <input matInput type="text" [(ngModel)]="data.enteredEmail" [formControl]="email" maxlength="30" required>
          <mat-error>{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <button class="searchuserbutton" mat-raised-button color="primary" (click)="searchForUser()">Search</button>
        <div *ngIf="memberFromDb" class="row searchresults">
          <div class="col">
            <h5>Click on the Role Button to change the user's role from Coach to Resident and vice-versa.</h5>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Display Name</th>
                  <th>Email</th>
                  <th>Current Role</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="col">{{memberFromDb.displayname}}</td>
                  <td scope="col">{{memberFromDb.email}}</td>
                  <td scope="col"><button mat-raised-button (click)="changeRole()">{{memberFromDb.userRole}}</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="!!loadError" id="error">
          <p>{{loadError}}</p>
        </div>
    </div>
  </mat-tab>
  <mat-tab label="Maintenance" class="bg-light">
    <table class="table table-bordered">
      <tr>
        <td>Under Maintenance ?</td>
        <td>Maintenance Message<br /><span class="small">Make sure the message contains what court the maintenance will
            take place</span></td>
      </tr>
      <tr>
        <td>Court 1 <button mat-raised-button
            (click)="changeMaintenanceInfo(0)">{{!!maintenanceForCourts[0].inmaintenance}}</button></td>
        <td><div *ngIf="!!maintenanceForCourts[0].inmaintenance === true" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter maintenance message"
              aria-label="Enter maintenance message" aria-describedby="basic-addon1"
              [(ngModel)]="maintenanceForCourts[0].message" maxlength="500" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="changeMaintenanceMessage(0)"
                type="button">Enter</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Court 2 <button mat-raised-button
            (click)="changeMaintenanceInfo(1)">{{!!maintenanceForCourts[1].inmaintenance}}</button></td>
        <td><div *ngIf="!!maintenanceForCourts[1].inmaintenance === true" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter maintenance message"
              aria-label="Enter maintenance message" aria-describedby="basic-addon2"
              [(ngModel)]="maintenanceForCourts[1].message" maxlength="500" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="changeMaintenanceMessage(1)"
                type="button">Enter</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Court 3 <button mat-raised-button
            (click)="changeMaintenanceInfo(2)">{{!!maintenanceForCourts[2].inmaintenance}}</button></td>
        <td><div *ngIf="!!maintenanceForCourts[2].inmaintenance === true" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter maintenance message"
              aria-label="Enter maintenance message" aria-describedby="basic-addon3"
              [(ngModel)]="maintenanceForCourts[2].message" maxlength="500" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="changeMaintenanceMessage(2)"
                type="button">Enter</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Court 4 <button mat-raised-button
            (click)="changeMaintenanceInfo(3)">{{!!maintenanceForCourts[3].inmaintenance}}</button></td>
        <td><div *ngIf="!!maintenanceForCourts[3].inmaintenance === true" class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter maintenance message"
                aria-label="Enter maintenance message" aria-describedby="basic-addon4"
                [(ngModel)]="maintenanceForCourts[3].message" maxlength="500" required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="changeMaintenanceMessage(3)"
                  type="button">Enter</button>
              </div>
          </div>
        </td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>