.row {
    margin-left: 0px;
    margin-right: 0px;
}

mat-tab-group {
    margin-top: 30px auto;
    width: 50%;
}


.searchuserbutton {
    margin-bottom: 15px;
    margin-left: 4px;
}
.searchresults{
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid;
    border-radius: 0.5em;
    border-color: #e1e1ea;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div-only-mobile {
    display: none;
}
.div-no-mobile {
    display: block;
}
@media screen and (max-width:600px ) {

.div-no-mobile {
    display:none
}

.div-only-mobile {
    display: block;
}

}
