<div class = "searchForUser">
  <mat-form-field>
    <mat-label>Search for user</mat-label>
    <input matInput type="text" [(ngModel)]="data.enteredEmail" maxlength="80" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="searchForUser()">Search for user</button>
</div>
<div *ngIf="memberFromDb" class="row">
  <div class="col">
    <table class = "table table-bordered">
      <thead>
        <tr>
          <th scope="col">{{memberFromDb.displayName}}</th>
          <th scope="col">{{memberFromDb.email}}</th>
          <th scope="col">{{memberFromDb.role}}</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
