<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <mat-card class="forgot-password-card bg-light">
            <mat-card-header>
                <mat-card-title>Forgot Password</mat-card-title>
                <mat-card-subtitle>We will email you a new password.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field >
                        <mat-label>Email</mat-label>
                        <input matInput type="text" [(ngModel)]="data.enteredEmail" [formControl]="email" maxlength="30"
                            required>
                        <mat-error>{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="row">
                    <div class="col">
                        <button mat-raised-button color="primary" (click)="resetPassword()">Enter</button>
                    </div>
                </div>
                <div *ngIf="!!error" id="error" class="alert alert-danger">
                    <p>{{error}}</p>
                </div>
                <div *ngIf="!!successMessage" id="success" class="alert alert-success mt-2">
                    <p>{{successMessage}}</p>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-4"></div>
</div>