<div class="pageBackground bg-light">
  <div id="reservations">
    <h2 *ngIf="memberInfo.rolename === 'RESIDENT'">Number of Reservations you can still make: {{reservationsLeft}}</h2>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <mat-select>
          <mat-option *ngFor="let date of displayDatesForNextWeek; let i = index" value="i" (click)="generateReservationTable(datesForNextWeek[i])">{{date}}</mat-option>
      </mat-select>
  </mat-form-field>
    <table class="table table-bordered tabletablebor">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Court 1</th>
            <th scope="col">Court 2</th>
            <th scope="col">Court 3</th>
            <th scope="col">Court 4</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let time of times; let i = index">
            <th scope="row">{{time}}</th>
            <td align="center" *ngIf="!reservationsDisplay1[time] && reservationsLeft > 0"><button class="res-button" mat-raised-button (click)="addReservation(i, 1)">Reserve</button></td>
            <td align="center" *ngIf="!!reservationsDisplay1[time] && reservationsDisplay1[time].memberid === memberInfo.id"><button class="res-button" mat-raised-button color="primary" (click)="unreserve(i, 1)">Cancel</button></td>
            <td align="center" class="info" *ngIf="!!reservationsDisplay1[time] && reservationsDisplay1[time].memberid !== memberInfo.id">{{reservationsDisplay1[time].membername}}</td>
            <td align="center" class="info" *ngIf="reservationsLeft <= 0 && !reservationsDisplay1[time]">Unavailable</td>
              
            <td align="center">
              <span *ngIf="!reservationsDisplay2[time] && reservationsLeft > 0"><button class="res-button" mat-raised-button (click)="addReservation(i, 2)">Reserve</button></span>
              <span *ngIf="!!reservationsDisplay2[time] && reservationsDisplay2[time].memberid === memberInfo.id"><button class="res-button" mat-raised-button color="primary" (click)="unreserve(i, 2)">Cancel</button></span>
              <span *ngIf="!!reservationsDisplay2[time] && reservationsDisplay2[time].memberid !== memberInfo.id">{{reservationsDisplay2[time].membername}}</span>
              <span *ngIf="reservationsLeft <= 0 && !reservationsDisplay2[time]"><button class="res-button" mat-raised-button>Unavailable</button></span>        
            </td>
            <td align="center">
              <span *ngIf="!reservationsDisplay3[time] && reservationsLeft > 0"><button class="res-button" mat-raised-button (click)="addReservation(i, 3)">Reserve</button></span>
              <span *ngIf="!!reservationsDisplay3[time] && reservationsDisplay3[time].memberid === memberInfo.id"><button class="res-button" mat-raised-button color="primary" (click)="unreserve(i, 3)">Cancel</button></span>
              <span *ngIf="!!reservationsDisplay3[time] && reservationsDisplay3[time].memberid !== memberInfo.id">{{reservationsDisplay3[time].membername}}</span>
              <span *ngIf="reservationsLeft <= 0 && !reservationsDisplay3[time]"><button class="res-button" mat-raised-button>Unavailable</button></span>           
            </td>
            <td align="center">
              <span *ngIf="!reservationsDisplay4[time] && reservationsLeft > 0"><button class="res-button" mat-raised-button (click)="addReservation(i, 4)">Reserve</button></span>
              <span *ngIf="!!reservationsDisplay4[time] && reservationsDisplay4[time].memberid === memberInfo.id"><button class="res-button" mat-raised-button color="primary" (click)="unreserve(i, 4)">Cancel</button></span>
              <span *ngIf="!!reservationsDisplay4[time] && reservationsDisplay4[time].memberid !== memberInfo.id">{{reservationsDisplay4[time].membername}}</span>
              <span *ngIf="reservationsLeft <= 0 && !reservationsDisplay4[time]"><button class="res-button" mat-raised-button>Unavailable</button></span>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  <div id="error">
    <p>{{error}}</p>
  </div>
</div>