.res-form {
  padding: 20px 4% 5px;
  .searchuserbutton {
    margin-left: 15px;
  }
}

.res-button {
  width: 100%;
  display: block;
}

.reservedDisplay {
  background-color: lightblue;
}

.table-bordered {
  border: 1px solid black;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid black;
}
.dateColor {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .res-form {
    padding: 20px 4% 5px;
    .searchuserbutton {
      margin: 0;
      width: 100%;
    }
  }
  .sel-court-form {
    padding: 0 4%;
  }
}
