<div class="bg-light container-fluid" *ngIf="isLoaded">
  <div class="res-form">
    <h2 *ngIf="firstMemberInfo.rolename === 'RESIDENT'">Number of Reservations you can still make: {{reservationsLeft}}</h2>
    <div id="ReserveAs" *ngIf="firstMemberInfo.rolename === 'COACH'">
      <mat-form-field>
        <mat-label>Reserve as: </mat-label>
        <input matInput type="text" [(ngModel)]="anotherUser" maxlength="30">
      </mat-form-field>
      <button class="searchuserbutton" mat-raised-button color="primary" (click)="searchForUser()">Search</button>
      <div id="success">
        <p>{{reserveAsAnotherUserMessage}}</p>
      </div>
      <div id="error" *ngIf="!!reserveAsError" class="alert alert-danger">
        <p>{{reserveAsError}}</p>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Date: {{displayDate}}</mat-label>
      <mat-select>
        <mat-option *ngFor="let date of displayDatesForNextWeek; let i = index" value="i"
          (click)="generateReservationTable(datesForNextWeek[i])">{{date}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="someMaintenance" class="alert alert-danger">
    <p>Notice: </p>
    <div *ngFor="let info of maintenanceStatus">
      <p *ngIf="info.inmaintenance === true">{{info.message}}</p>
    </div>
  </div>
  <div class="d-none d-sm-block">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Court 1</th>
          <th scope="col">Court 2</th>
          <th scope="col">Court 3</th>
          <th scope="col">Court 4</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of times; let i = index">
          <th scope="row">{{time}}</th>
          <td align="center" *ngFor="let tennisCourt of reservations; let j = index">
            <button class="res-button" *ngIf="!tennisCourt[time] && reservationsLeft > 0 && compareTimeAndTimeSlot(time) !== 1 && maintenanceStatus[j].inmaintenance === false" mat-raised-button color="accent" (click)="addReservation(i, j + 1)">Reserve</button>
            <button class="res-button" *ngIf="!!tennisCourt[time] && tennisCourt[time].memberid === memberInfo.id && compareTimeAndTimeSlot(time) !== 1 && maintenanceStatus[j].inmaintenance === false" mat-raised-button color="primary" (click)="unreserve(i, j + 1)">Cancel</button>
            <p class="info"
              *ngIf="!!tennisCourt[time] && tennisCourt[time].memberid !== memberInfo.id && compareTimeAndTimeSlot(time) !== 1 && maintenanceStatus[j].inmaintenance === false">
              {{tennisCourt[time].membername}}</p>
            <p align="center" class="alert-info"
              *ngIf="(reservationsLeft <= 0 && !tennisCourt[time]) && compareTimeAndTimeSlot(time) !== 1 && maintenanceStatus[j].inmaintenance === false">
              Unavailable</p>
            <p align="center" *ngIf="compareTimeAndTimeSlot(time) === 1 && !tennisCourt[time] && maintenanceStatus[j].inmaintenance === false"></p>
            <p align="center" *ngIf="maintenanceStatus[j].inmaintenance === true"></p>
            <p align="center"
              *ngIf="compareTimeAndTimeSlot(time) === 1 && !!tennisCourt[time] && maintenanceStatus[j].inmaintenance === false">
              {{tennisCourt[time].membername}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block d-sm-none">
    <div class="sel-court-form">
      <mat-form-field appearance="fill">
        <mat-label>Select Court</mat-label>
        <mat-select [(ngModel)]="courtNum" name="courtnumber" #courtnumber="ngModel">
          <mat-option [value]="1">Court 1</mat-option>
          <mat-option [value]="2">Court 2</mat-option>
          <mat-option [value]="3">Court 3</mat-option>
          <mat-option [value]="4">Court 4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Court {{courtNum}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let time of times; let i = index">
            <th scope="row">{{time}}</th>
            <td align="center"
              *ngIf="!reservations[courtNum - 1][time] && reservationsLeft > 0 && compareTimeAndTimeSlot(time) !== 1 && maintenanceStatus[courtNum - 1].inmaintenance === false">
              <button class="res-button" mat-raised-button color="accent" (click)="addReservation(i, courtNum)">Reserve</button></td>
            <td align="center"
              *ngIf="!!reservations[courtNum - 1][time] && reservations[courtNum - 1][time].memberid === memberInfo.id && compareTimeAndTimeSlot(time) !== 1 && maintenanceStatus[courtNum - 1].inmaintenance === false">
              <button class="res-button" mat-raised-button color="primary" (click)="unreserve(i, courtNum)">Cancel</button>
            </td>
            <td align="center" class="info"
              *ngIf="!!reservations[courtNum - 1][time] && reservations[courtNum - 1][time].memberid !== memberInfo.id && compareTimeAndTimeSlot(time) !== 1 && maintenanceStatus[courtNum - 1].inmaintenance === false">
              {{reservations[courtNum - 1][time].membername}}</td>
            <td align="center" class="info"
              *ngIf="(reservationsLeft <= 0 && !reservations[courtNum - 1][time]) && compareTimeAndTimeSlot(time) !== 1 && maintenanceStatus[courtNum - 1].inmaintenance === false">
              Unavailable</td>
            <td align="center"
              *ngIf="compareTimeAndTimeSlot(time) === 1 && !reservations[courtNum - 1][time] && maintenanceStatus[courtNum - 1].inmaintenance === false">
            </td>
            <td align="center" *ngIf="maintenanceStatus[courtNum - 1].inmaintenance === true"></td>
            <td align="center"
              *ngIf="compareTimeAndTimeSlot(time) === 1 && !!reservations[courtNum - 1][time] && maintenanceStatus[courtNum - 1].inmaintenance === false">
              {{reservations[courtNum - 1][time].membername}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="error" *ngIf="!!error" class="alert alert-danger">
    <p>{{error}}</p>
  </div>
</div>
