.res-button {
    width: 100%;
    display:block;
}

.reservedDisplay {
    background-color: lightblue;
}

.table-bordered {
    border: 1px solid black;
}
.table-bordered th, .table-bordered td {
    border: 1px solid black;
}
.dateColor {
    margin-top: 20px;

}


.div-only-mobile {
    display: none;
}
.div-no-mobile {
    display: block;
}
@media screen and (max-width: 600px) {

.div-no-mobile {
    display:none
}

.div-only-mobile {
    display: block;
}

}