<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Court 1</th>
        <th scope="col">Court 2</th>
        <th scope="col">Court 3</th>
        <th scope="col">Court 4</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let time of times">
        <th scope="row">{{time}}</th>
        <td><button mat-raised-button color="primary">Hello</button></td>
        <td><button mat-raised-button color="primary">hi</button></td>
        <td><button mat-raised-button color="primary">sup</button></td>
        <td><button mat-raised-button color="primary">aa</button></td>
      </tr>
    </tbody>
</table>