<div class="homebody">
    <div class="content">
        <div class="hometitle">
            <span>Welcome to the Wellesley Tennis Reservations</span>
        </div>
        <div class="row">
            <div class= "tenniscourtimg col-sm-5">
                <img src="../../assets/Tennis-courts.jpg" width="650px"/>
            </div>
            <div class="col-sm-6">
                How to Use the Website:
                <ol>
                <li>Click on either Register or Login.</li>
                <li>Once registered, log in.</li>
                <li>Once logged in, go to the Reservations Page.</li>
                <li>Select the correct date in the drop down menu.</li>
                <li>Find the slots you would like to register. YOU CAN ONLY REGISTER FOR THREE 30 MINUTE SLOTS PER DAY.</li>
                <li>You are done!</li>
                </ol>
                <br/>
            </div>
        </div>
    </div>
</div>

























