.tenniscourtimg {
    padding-left: 30px;
}

.tenniscourtimg >img {
    filter: drop-shadow(2px 2px 3px black)
}

.homebody {
    mat-card {
      mat-card-header {
        .mat-card-header-text {
            margin: 0 0px;
            vertical-align: middle;
        }
      }
    }
}

mat-card-content {
    padding-top: 20px;   
}
 
mat-card-title {
    padding-left: 30px;
}

.rulesdiv {
    padding-left: 30px;
    margin-top: 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}