<mat-form-field>
    <mat-label>Display Name</mat-label>
    <input matInput type="text" [(ngModel)]="data.displayName" maxlength="80" />
</mat-form-field>
<mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" [(ngModel)]="data.enteredEmail" maxlength="80" />
</mat-form-field>
<mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="text" [(ngModel)]="data.enteredPassword" maxlength="80" />
</mat-form-field>
<mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="text" [(ngModel)]="data.confirmPassword" maxlength="80" />
</mat-form-field>
<mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [(value)]="data.role">
        <mat-option value="coach">Coach</mat-option>
        <mat-option value="resident">Resident</mat-option>
    </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="addUser()">Register</button>
