mat-form-field {
    width: 75%;
  }

mat-card-content {
  margin-bottom: 0px;
  .row {
    height: 70px;
  }
}

.registercardcontainer {
  mat-card {
    mat-card-header {
      .mat-card-header-text {
        margin: 0 0px;
      }
    }
  }
}


