mat-form-field {
    width: 50%;
  }

mat-card-content {
  margin-bottom: 0px;
  .row {
    height: 70px;
  }
}

.mat-card>.mat-card-actions {
  margin-top: 30px;
  margin-bottom: 30px;
}

.registercardcontainer {
  mat-card {
    mat-card-header {
      .mat-card-header-text {
        margin: 0 0px;
      }
    }
  }
}


