<div class="registercardcontainer">
  <mat-card class="register-card bg-light">
    <mat-card-header>
      <mat-card-title>REGISTER</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field
              hintLabel="Max 20 Characters, can contain letters, numbers, space ( ), apostrophe ('), and period (.)">
            <mat-label>Display Name</mat-label>
            <input matInput type="text" [(ngModel)]="data.displayName" maxlength="20" #displayName="ngModel"
                name="displayName" pattern="^[a-zA-Z0-9. ]{1,20}$" required>
            <mat-error *ngIf="displayName?.errors?.pattern">Display Name is invalid</mat-error>
            <mat-error *ngIf="displayName?.errors?.required">Display Name is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <mat-form-field hintLabel="Max 50 Characters">
              <mat-label>Email</mat-label>
              <input matInput type="text" [(ngModel)]="data.enteredEmail" [formControl]="email" maxlength="50" required>
              <mat-error>{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <mat-form-field
                hintLabel="Must be greater than 6 characters and less than 14 characters, can contain letters, numbers, period (.), comma (,), exclamation (!), and hashtag (#)">
              <mat-label>Password</mat-label>
              <input matInput type="password" [(ngModel)]="data.enteredPassword" #password="ngModel" maxlength="14"
                  minlength="6" name="password" pattern="^[a-zA-Z0-9.,!#]{6,14}$" required>
              <mat-error *ngIf="password?.errors?.required">Password is required</mat-error>
              <mat-error *ngIf="password?.errors?.pattern">Password is invalid</mat-error>
            </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <mat-form-field class="confirm">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" [(ngModel)]="data.confirmPassword" maxlength="14" minlength="6"
                  #confirmPassword="ngModel" name="confirmPassword" pattern={{data.enteredPassword}} required>
              <mat-error *ngIf="confirmPassword?.errors?.required">This field is required</mat-error>
              <mat-error *ngIf="confirmPassword?.errors?.pattern">Passwords need to match</mat-error>
            </mat-form-field>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field
              hintLabel="This is the email or username that you or someone in your household has registered with on the Wellesley website (wellesleyhoa.com)">
            <mat-label>Enter WellesleyHOA Website Email or Username</mat-label>
            <input matInput type="text" [(ngModel)]="data.wellesleyID" maxlength="50" #wellesleyID="ngModel"
                name="wellesleyID" pattern="^[a-zA-Z0-9.'\s@_]{1,50}$" required>
            <mat-error *ngIf="wellesleyID?.errors?.pattern">Email or username is invalid</mat-error>
            <mat-error *ngIf="wellesleyID?.errors?.required">Email or username is required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addUser()">Register</button>
      <button mat-raised-button color="accent" (click)="login()">Login</button>
    <div *ngIf="!!error" id="error" class="alert alert-danger">
      <p>{{error}}</p>
    </div>
    </mat-card-actions>
  </mat-card>
</div>



